 <div class="header">
   <div align="center">
  <div fxLayout="row wrap" fxLayoutAlign="space-around center">
    <div fxFlex="20" fxFlex.sm="50" fxFlex.xs="100">
      <img src="../../../assets/Angular_full_color_logo.svg.png" />
      <span>NGULAR</span>
    </div>
    <div fxFlex="50" fxHide.lt-md>
      <a routerLink='features'>FEATURES</a>
      <a routerLink="docs">DOCS</a>
      <a href="#resources">RESOURCES</a>
      <a href="#events">EVENTS</a>
      <a href="#blog">BLOG</a>
    </div>
    <div fxFlex="25" fxFlex.sm="50" fxFlex.xs="100">
      <input type="textbox" placeholder="Search" />
      <a><i class="fab fa-twitter"></i></a>
    </div>
  </div>
</div>
</div>