<!-- <app-banner></! -->

<!-- <button (click)="show = !show">{{ show ? "hide" : "show" }}</button> -->
<div class="start">
<div fxLayout="row-wrap" fxLayoutAlign="space-evenly ">
   <!-- <div fxFlex="33" fxHide.lt-md> -->
  <div *ngFor="let profile of profiles; let i = index">
    <div class="img2">
      <img src="../../../assets/Angular_full_color_logo.svg.png" />
    </div>
   <input type="text" placeholder="search"> 
   <button>search</button>
     <div fxLayout="row-wrap">
    <img src="{{ profile.img }}" /> 
    <h4>profiles:{{profile.profiles}}</h4>
    </div>
    <p>mobile: {{profile.mobile}} </p>
    <hr>
   </div>
  <!-- </div> -->
</div>
</div>
<br>
<div class="start">
    <div fxLayout="row-wrap" fxLayoutAlign="space-evenly ">
        <div *ngFor="let profile of profiles; let i = index">
         <div fxLayout="row-wrap">
        <img src="{{ profile.img }}" /> 
        <h4>profiles:{{profile.profiles}}</h4>
        </div>
        <p>mobile: {{profile.mobile}} </p>
        <hr>
       </div>
      <!-- </div> -->
    </div>
  </div>
<br>
<div class="start">
    <div fxLayout="row-wrap" fxLayoutAlign="space-evenly ">
        <div *ngFor="let profile of profiles; let i = index">
         <div fxLayout="row-wrap">
        <img src="{{ profile.img }}" /> 
        <h4>profiles:{{profile.profiles}}</h4>
        </div>
        <p>mobile: {{profile.mobile}} </p>
        <hr>
       </div>
      <!-- </div> -->
    </div>
  </div>